{% extends "base.html" %}
{% block content %}
<h1>Game Systems</h1>
<form id="create-system-form">
    <input type="text" name="name" placeholder="e.g. D&amp;D 5e" required>
    <button type="submit">Create</button>
</form>
<ul id="systems-list">
    {% for system in systems %}
    <li>
        <a href="/systems/{{ system.id }}">{{ system.name }}</a>
        &mdash;
        <a href="/systems/{{ system.id }}/chat">Chat</a>
        <button class="delete-system" data-system-id="{{ system.id }}">Delete</button>
    </li>
    {% endfor %}
</ul>
{% endblock %}
